@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scale: 0.05vw;
  --skyblue: #ADF0FF;
  --blue: #A3D1FF;
  --bluefrost: #B8BFFF;
  --yellow: #FFD4AD;
  --purpur: #DFABFF;
  --pink: #FFB2DC;
  --coral: #FFBEBE;
  --green: #C7FFBE;
  --radius: 7rem;
  --shadow: 0 10rem 30rem rgba(0, 0, 0, 0.1);
  --shadow-hover: 0 15rem 40rem rgba(0, 0, 0, 0.2);
}

html {
  font-size: var(--scale);
  line-height: 1;
}

@media only screen and (max-width: 1024px) {
  :root {
    --scale: 0.0935vw;
  }
}

.interactive-element {
  @apply rounded-[7rem] transition-all duration-300;
  box-shadow: var(--shadow);
}

.interactive-element:hover {
  box-shadow: var(--shadow-hover);
  transform: translateY(-2rem);
}

@media (hover: none) {
  .interactive-element:hover {
    transform: none;
  }
}

.bg-avatar {
  background-image: url('./lib/images/avatar.png');
}
