@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scale: 0.05vw;
}

html {
  font-size: var(--scale);
  line-height: 1;
}

.bg-avatar {
  background-image: url('./lib/images/avatar.png');
}

